server {
  listen 3131;

  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
  }

  location ~ ^\/(products|orders|addresses)$ {
    return 301 /;
  }

  location /api/login {
    rewrite /api/(.*) /$1 break;
    proxy_pass http://${FIAP_SAMPLE_LOGIN_BACKEND_HOST}:${FIAP_SAMPLE_LOGIN_BACKEND_PORT};
  }

  location /api/portal {
    rewrite /api/(.*) /$1 break;
    proxy_pass http://${FIAP_STOCK_PORTAL_BACKEND_HOST}:${FIAP_STOCK_PORTAL_BACKEND_PORT};
  }
}