server {
  listen 3232;

  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
  }

  location ~ ^\/(catalogs|products|orders)$ {
    return 301 /;
  }

  location /api/login {
    rewrite /api/(.*) /$1 break;
    proxy_pass http://${FIAP_SAMPLE_LOGIN_BACKEND_HOST}:${FIAP_SAMPLE_LOGIN_BACKEND_PORT};
  }

  location /api/stock {
    rewrite /api/(.*) /$1 break;
    proxy_pass http://${FIAP_STOCK_MGNT_BACKEND_HOST}:${FIAP_STOCK_MGNT_BACKEND_PORT};
  }
}